@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* or optional */
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* or optional */
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* or optional */
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* or optional */
}

/* Repeat the pattern for italic styles or other weights if needed. */


:root {
  --foreground-rgb: 17,24,39;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 209,213,218;
    --background-rgb: 3,7,18;
  }
}

body {
  background: rgb(var(--background-rgb));
  font-family: "Roboto", sans-serif;
}

h1{
  font-family: "Roboto", sans-serif;
}

input:invalid {
  border-color: 1px solid red;
}

input {
  border: 1px solid gray;
}
.experience-box{
  height:600px;
}

.page-content-styler{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
